%border-input{
    background: linear-gradient(#283036 0 0) padding-box, linear-gradient(90.89deg,    rgba(255,    255, 255, 0.1) -1.67%, rgba(255, 255, 255,  0) 103.73%) border-box;
     border: 1.5px solid transparent;
     border-radius: 15px;
   }
   