<section>
    <h2>
        Comments
    </h2>
    <ul>
        <li>
            <h3 class="comments-title">Ronald Richards</h3>
            <p class="comments-title__description">Product Manager</p>
            <img src="" alt="">
            <p class="comments-title__about">Incididunt cillum do sint sint enim ullamco id deserunt mollit qui reprehenderit do. Velit ex tempor cillum ad sint
            occaecat. Do nulla velit labore occaecat do deserunt Lorem magna officia incididunt consectetur amet. Sunt consectetur
            veniam minim ex commodo sint non. Occaecat aute</p>
        </li>
        <li>
            <h3 class="comments-title">Ronald Richards</h3>
            <p class="comments-title__description">Product Manager</p>
            <img src="" alt="">
            <p class="comments-title__about">Incididunt cillum do sint sint enim ullamco id deserunt mollit qui reprehenderit do. Velit ex tempor cillum ad
                sint
                occaecat. Do nulla velit labore occaecat do deserunt Lorem magna officia incididunt consectetur amet. Sunt
                consectetur
                veniam minim ex commodo sint non. Occaecat aute</p>
        </li><li>
            <h3 class="comments-title">Ronald Richards</h3>
            <p class="comments-title__description">Product Manager</p>
            <img src="" alt="">
            <p class="comments-title__about">Incididunt cillum do sint sint enim ullamco id deserunt mollit qui reprehenderit do. Velit ex tempor cillum ad
                sint
                occaecat. Do nulla velit labore occaecat do deserunt Lorem magna officia incididunt consectetur amet. Sunt
                consectetur
                veniam minim ex commodo sint non. Occaecat aute</p>
        </li>
    </ul>
</section>