<footer class="footer">
    <a href="" class="footer-logo">Logo</a>
    <p>Copyright 2021. Antools</p>
    <p>Antool is a web collection of information on paid or free Design and Development tools</p>

    <div class="footer-contacts">
    <ul class="list footer-contact">
        <li class="footer-contact__item">
            <h3 class="footer-contact__title">Contact us</h3>
            <ul class="list footer-adress">
                <li class="footer-adress__item"> 
                    <a href="" class="link footer-adress__link">+621987463</a> 
                </li>
                <li class="footer-adress__item"> 
                    <a href="" class="link footer-adress__link">M Building, No.10 A</a>
                </li>
                <li class="footer-adress__item"> 
                    <a href="" class="link footer-adress__link">antools@awesome.com</a>
                </li>
            </ul>
        </li>
    </div>

        <div class="footer-categories">
            <li class="footer-contact__item">
                <h3 class="footer-title">Categories</h3>
                    <ul class="list footer-">
                        <li class="footer-item"> 
                            <a href="">Design</a> 
                        </li>
                        <li class="footer-item"> 
                            <a href="">Development</a> 
                        </li>
                    </ul>
            </li>
        </div>

        <div class="footer-info">
            <li class="footer-item">
                <h3 class="footer-title">Company Info</h3>
                <ul class="list footer-list">
                    <li class="footer-item"> 
                        <a href="" class="link footer-link">About Us</a> 
                    </li>
                    <li class="footer-item"> 
                        <a href="" class="link footer-link">Our Partners</a> 
                    </li>
                    <li class="footer-item"> 
                        <a href="" class="link footer-link">Blog</a> 
                    </li>
                </ul>
            </li>
        </div>
    </ul>

</footer>