<section>
    <h1>Awesome tools for
    Designer & Developer.
    Antool is a web collection of information on paid or free Design and Development tools
    find more than 430+ tools...
    Search</h1>
    <p>Antool is a web collection of information on paid or free Design and Development tools
    Search</p>
    <form action="">
        <input type="text">
        <button type="button">Search</button>
    </form>
    <ul>
        <li> <a href="">Facebook</a> </li>
        <li> <a href="">Instagram</a></li>
        <li> <a href="">Twiter</a> </li>
    </ul>
</section>