<section class="newcomer-tools">
    <h2 class="newcomer-tools__title">Newcomer Tools</h2>
    <p class="newcomer-tools__text">Wow! see the latest update of the most recommended tools from reliable designers and developers</p>
    <button type="button" class="newcomer-tools__button">Explore more</button>
    <ul>
        <li>
            <a href="" class="tools-link"></a>
            <h3 class="tools-subtitle">Free & Paid</h3>
            <p class="tools-name">Free & Paid</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <button type="button">Visit></button>
        </li>
        <li>
            <a href="" class="tools-link"></a>
            <h3 class="tools-subtitle">Paid</h3>
            <p class="tools-name">Trial & Paid</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <button type="button">Visit></button>
        </li>
        <li>
            <a href="" class="tools-link"></a>
            <h3 class="tools-subtitle">Free</h3>
            <p class="tools-name">Free</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <button type="button">Visit></button>
        </li>
        <li>
            <a href="" class="tools-link"></a>
            <h3 class="tools-subtitle">Procreate</h3>
            <p class="tools-name">Trial & Paid</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <button type="button">Visit></button>
        </li>

    </ul>
</section>