<section class="partners section">
  <div class="container partners__container">
    <h2 class="title partners__title">Trusted more than 150+ brand</h2>
    <ul class="partners-list">
      <li class="partners-list__item">
        <a class="partners-list__link" href="" <!-->
          <svg class="partners-list__icon" width="193" height="51">
            <use href="images/sprite.svg#icon-microsoft"></use>
          </svg>
        </a>
      </li>
      <li class="partners-list__item">
        <a class="partners-list__link" href="" <!-->
          <svg class="partners-list__icon" width="157" height="51">
            <use href="images/sprite.svg#icon-google"></use>
          </svg>
        </a>
      </li>
      <li class="partners-list__item">
        <a class="partners-list__link" href="" <!-->
          <svg class="partners-list__icon" width="194" height="51">
            <use href="images/sprite.svg#icon-slack"></use>
          </svg>
        </a>
      </li>
      <li class="partners-list__item">
        <a class="partners-list__link" href="" <!-->
          <svg class="partners-list__icon" width="193" height="51">
            <use href="images/sprite.svg#icon-wordpress"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
