<section class="partners">
  <div class="container partners__container">
    <h2 class="subtitle partners__title">Trusted more than 150+ brand</h2>
    <ul class="partners-list list">
      <li class="partners__item">
        <a class="partners__link link" href=""
          >Microsoft
          <div class="svg">
            <use href=""></use>
          </div>
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link link" href=""
          >Google
          <div class="svg">
            <use href=""></use>
          </div>
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link link" href=""
          >Slack
          <div class="svg">
            <use href=""></use>
          </div>
        </a>
      </li>
      <li class="partners__item">
        <a class="partners__link link" href=""
          >WordPress
          <div class="svg">
            <use href=""></use>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
