<section class="section subscription">
    <div class="container subscription__container">
      <h2 class="section__title title">Become a contributor?</h2>
      <p class="section__description">Join us and get tips & tricks to become a great Designer and Developer</p>
      <form class="subscription-form">
        <div class="subscription-form__wrapper">
          <input class="subscription-form__input" type="email" name="email" placeholder="Enter your email...">
          <button class="subscription-form__btn" type="submit">Join Us</button>
        </div>
      </form>
    </div>
  </section>