<section>
    <h2 class="tools__title">Most Popular Tools</h2>
    <p class="tools__text">Tools for the best Designers and Developers
        most popularly used in the world</p>
        <ul>
            <li>
                <a href="" class="tools__link"></a>
                <h3 class="tools__subtitle">FIGMA</h3>
                <p class="tools__name">Free</p>
                <p class="tools__subtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <button class="tools__button-visit" type="button">Visit></button>
            </li>
            <li>
                <a href="" class="tools__link"></a>
                <h3 class="tools__subtitle">Sketch</h3>
                <p class="tools-name">Trial & Paid</p>
                <p class="tools-subtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <button class="tools-button-visit" type="button">Visit></button>
            </li>
            <li>
                <a href="" class="tools__link"></a>
                <h3 class="tools__subtitle">Visual Studio Code</h3>
                <p class="tools__name">Free</p>
                <p class="tools__secondary-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <button class="tools__button-visit" type="button">Visit></button>
            </li>
            <li>
                <a href="" class="tools__link"></a>
                <h3 class="tools__subtitle">Notion</h3>
                <p class="tools__name">Trial & Paid</p>
                <p class="tools__subtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <button class="tools__button-visit" type="button">Visit></button>
            </li>
            <li>
                <a href="" class="tools__link"></a>
                <h3 class="tools__subtitle">Slack</h3>
                <p class="tools__name">Trial & Paid</p>
                <p class="tools__subtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <button class="tools__button-visit" type="button">Visit></button>
            </li>
            <li>
                <a href="" class="tools__link"></a>
                <h3 class="tools__subtitle">Invision</h3>
                <p class="tools__name">Trial & Paid</p>
                <p class="tools__subtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <button class="tools__button-visit" type="button">Visit></button>
            </li>
        </ul>
        <button class="tools__button-loadmore" type="button">Load more</button>
</section>
