<section>
    <h2 class="title-tools">Most Popular Tools</h2>
    <p class="text-tools">Tools for the best Designers and Developers
        most popularly used in the world</p>
        <ul>
            <li>
                <a href="" class="tools-link"></a>
                <h3 class="tools-subtitle">FIGMA</h3>
                <p class="tools-name">Free</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <button type="button">Visit></button>
            </li>
            <li>
                <a href="" class="tools-link"></a>
                <h3 class="tools-subtitle">Sketch</h3>
                <p class="tools-name">Trial & Paid</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <button type="button">Visit></button>
            </li>
            <li>
                <a href="" class="tools-link"></a>
                <h3 class="tools-subtitle">Visual Studio Code</h3>
                <p class="tools-name">Free</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <button type="button">Visit></button>
            </li>
            <li>
                <a href="" class="tools-link"></a>
                <h3 class="tools-subtitle">Notion</h3>
                <p class="tools-name">Trial & Paid</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <button type="button">Visit></button>
            </li>
            <li>
                <a href="" class="tools-link"></a>
                <h3 class="tools-subtitle">Slack</h3>
                <p class="tools-name">Trial & Paid</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <button type="button">Visit></button>
            </li>
            <li>
                <a href="" class="tools-link"></a>
                <h3 class="tools-subtitle">Invision</h3>
                <p class="tools-name">Trial & Paid</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <button type="button">Visit></button>
            </li>
        </ul>
        <button type="button">Load more</button>
</section>
