.newcomer-tools__title {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 48px;
    line-height: 1.30;
    color: rgba(255, 255, 255, 0.9);
}

.newcomer-tools__text {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    line-height: 1.67;
    color: rgba(255, 255, 255, 0.55);
}