ul {
    list-style: none;
}
.js-open-modal {
    display: none;
}
.header {
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 108px;
    padding-right: 108px;

    background-color: #1E252B;
}
.container.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation {
    display: flex;
    align-items: center;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.55);
}

.navigation__list {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navigation__item {
    display: block;
        
    &:not(:last-child) {
        margin-right: 30px;
    }
}
.header__logo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    
    color: rgba(255, 255, 255, 0.9);
}
.navigation__btn {
    display: inline-block;
    justify-content: center;
    text-align: center;

    width: 118px;
    height: 48px;
    padding: 12px 28px;
    background: #FF6E30;
    border-radius: 8px;
}
